<!--<ul id="dropdown1" class="dropdown-content drop">-->
        <!--            {{#if city.length}}-->
        <!--                {{#each city}}-->
<!--            <li><a href="#!"><h5>{{name}}</h5></a></li>-->
<!--            <li class="divider"></li>-->
        <!--                    {{#each cities}}-->
<!--                <li><a href="/escort/{{nameEn}}">{{name}}</a></li>-->
<!--                <li class="divider"></li>-->
        <!--                    {{/each}}-->
        <!--                {{/each}}-->
        <!--            {{else}}-->
<!--        <p>Пусто</p>-->
        <!--            {{/if}}-->
<!--</ul>-->
<nav>
    <div class="nav-wrapper purple">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/escort" class="brand-logo logo">ZODIAK</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Главная</a></li>
            <li><a href="/escort">Escort</a></li>
            <li><a href="/lux">LUX</a></li>
            <li><a href="/work">Вакансии</a></li>
            {{#if isAuth}}
                <li><a href="/lk">Личный кабинет</a></li>
                <li><a href="/add">Добавить</a></li>
                <li><a href="/logout">Выйти</a></li>
            {{else}}
                <li><a href="/login">Авторизация</a></li>
            {{/if}}
            <!--            &lt;!&ndash; Dropdown Trigger &ndash;&gt;-->
                <!--            {{#if city.length}}-->
            <!--                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Города<i class="material-icons right">arrow_drop_down</i></a>-->
            <!--                </li>-->
                <!--            {{/if}}-->
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <div class="user-view">
            <div class="background">
                <img class="imgNav" src="https://cdn.pixabay.com/photo/2016/03/15/17/17/girl-1258739_1280.jpg">


                <!--       -->
            </div>
            <!--            <a href="#user"><img class="circle"-->
            <!--                                 src="https://static10.tgstat.ru/channels/_100/2c/2c122d5fbe4031588c6e661b98ca99b3.jpg"></a>-->
            {{#if user.login}}
                <a href="#name"><span class="white-text name">{{user.login}}</span></a>
                <a href="#email"><span class="white-text email">{{user.email}}</span></a>
            {{else}}
                <h6 class="nav--barText">ZODIAK</h6>
            {{/if}}
        </div>
    </li>
    <li><a href="/">Главная</a></li>
    <li><a href="/escort">Escort</a></li>
    <li><a href="/lux">LUX</a></li>
    <li><a href="/work">Вакансии</a></li>
    {{#if isAuth}}
        <li><a href="/lk">Личный кабинет</a></li>
        <li><a href="/add">Добавить объявление</a></li>
        <li><a href="/logout">Выйти</a></li>
    {{else}}
        <li><a href="/login">Авторизация</a></li>
    {{/if}}
    <div id="label--drop-down"><strong>Выбрать город</strong></div>
    <div id="drop--down" class="status">
        {{#each city}}
            <li><a class="href--city" href="/escort/Kiev">Киев</a></li>
            <h6 class="city-region">{{name}}</h6>
            {{#each cities}}
                <li><a class="href--city" href="/escort/{{nameEn}}">{{name}}</a></li>
            {{/each}}
        {{/each}}
    </div>
        <!--    {{#if city.length}}-->
    <!--    <li><a class="dropdown-trigger" href="#!" data-target="dropdown12">Города<i class="material-icons right">arrow_drop_down</i></a></li>-->
        <!--    {{/if}}-->
</ul>
<style>
    .status {
        display: none;
    }

    #drop--down {
        position: absolute;
        top: 0;
        background: white;
        width: 100%;
        height: 477px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #drop--down::-webkit-scrollbar{
        display: none;
    }
   .city-region{
       margin-left: 10px;
   }
    #label--drop-down {
        width: 100%;
        left: 32px;
        top: 12px;
        position: relative;
    }
     #drop--down:nth-child(0){
         margin-top: 20px;
     }
    .href--city {
        color: #14a99b !important;
    }

</style>
<script>
    let labelDrop = document.getElementById('label--drop-down')
    labelDrop.onclick = () => {
        labelDrop.nextElementSibling.classList.toggle('status')
    }
</script>

