<nav>
    <div class="nav-wrapper purple">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <!--        <a href="/escort" class="">ZODIAK</a>-->
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Главная</a></li>
            <li><a href="/escort">Escort</a></li>
            <li><a href="/lux">LUX</a></li>
            <li><a href="/work">Вакансии</a></li>
            {{#if isAuth}}
                <li><a href="/lk">Личный кабинет</a></li>
                <li><a href="/add">Добавить</a></li>
                <li><a href="/logout">Выйти</a></li>
            {{else}}
                <li><a href="/login">Авторизация</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="sidenav" id="mobile-demo">
        <div class="user-view">
            <div class="background">
                <img class="imgNav" src="/images/6.jpg">

            </div>
            {{#if user.login}}
                <a href="#name"><span class="white-text name">{{user.login}}</span></a>
                <a href="#email"><span class="white-text email">{{user.email}}</span></a>
            {{else}}
                <h6 class="nav--barText">ZODIAK</h6>

            {{/if}}
        </div>

    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/escort">Escort</a></li>
        <li><a href="/lux">LUX</a></li>
        <li><a href="/work">Вакансии</a></li>
        {{#if isAuth}}
            <li><a href="/lk">Личный кабинет</a></li>
            <li><a href="/add">Добавить объявление</a></li>
            <li><a href="/logout">Выйти</a></li>
        {{else}}
            <li><a href="/login">Авторизация</a></li>
        {{/if}}
        {{#if city}}
        <div name="label--drop-down" class="drop-down lab"><strong>Выбрать город</strong></div>
        <div class="status drop--down">
            {{#each city}}
                <div name="label--drop-down" class="drop-down nameCity"><strong>{{name}}</strong></div>
                <div class="status drop--down">
                    {{#each cities}}
                        <li><a class="href--city" href="/escort/{{nameEn}}">{{name}}</a></li>
                    {{/each}}
                </div>
            {{/each}}
        </div>
       {{/if}}
    </ul>
</div>

<div id="spinner" style="display: none">
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>


