<div class="parallax-container">
    <div class="parallax"><img src="/images/dita-von-teese-fredericks-of-hollywood.jpg">
    </div>
    </br>
    <h1>Проститутки<br> {{headCity}}</h1>
    <div class="fil-btn">
        <ul id="dropdown2" class="dropdown-content">
            {{#if cityes}}
                <li><a href="/city/{{cityes.nameEn}}/sort/asc">Дорогие</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/desc">Дешевые</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/very">Проверенные</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/reiting">Высокий рейтинг</a></li>
            {{else}}
                <li><a href="/sort/asc">Дорогие</a></li>
                <li><a href="/sort/desc">Дешевые</a></li>
                <li><a href="/sort/very">Проверенные</a></li>
                <li><a href="/sort/reiting">Высокий рейтинг</a></li>
            {{/if}}
        </ul>
        <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Фильтры<i class="material-icons right">arrow_drop_down</i></a>
    </div>
</div></br>
<h4 class="zag">
    <hr>
    Проститутки {{headCity}}
    <hr>
</h4>
{{#if object.length}}
    <div class="contObj">
        {{#each object}}


            <div class="card es objectInd hoverable">

                <a href="/id/{{id}}">
                    <div class="card-image es">
                        <img src="https://zodaikapp.s3.us-east-2.amazonaws.com/img/{{photo.[0]}}" alt="Escort Ukraine">
                        <div class="card-title">
                            <span>{{city}}</span><br>
                        <span>{{name}}
                            {{#if veryfication}}
                                <i class="fas fa-check-circle"></i></span>
                            {{/if}}<br>
                            <span data-balance="{{price.[0]}}"></span><br>
                            <div data-appraisal="{{appraisal}}"></div>
                        </div>
                    </div>
                </a>
            </div>


        {{/each}}
    </div>
{{else}}
    <h5 class="pagination">Оъявлений нет
    <a href="/escort" class="btn-floating waves-effect waves-light blue-grey lighten-3"> <i class="large material-icons">arrow_back</i>
        <</a></h5>
{{/if}}

{{#if page}}
    <ul class="pagination">
        <li id="prevLi"><a href="" id="prev"><i class="material-icons">chevron_left</i></a></li>
        {{#each page}}
            <li><a href="/city/{{@root.cityes.nameEn}}/page/{{this}}"
                   data-path="/city/{{@root.cityes.nameEn}}/page/{{this}}">{{this}}</a></li>
        {{/each}}
        <li class="waves-effect" id="nextLi"><a href="" id="next"><i class="material-icons">chevron_right</i></a></li>
    </ul>
{{/if}}