<br>
<h5 style="text-align: center">В раздел вакансии</h5>
<div class="row">
    <form class="col s12" method="post" action="/editwork" enctype="multipart/form-data">
        <div class="row" style="padding: 11px">
            <input type="hidden" name="id" value="{{object.id}}">
            <div class="input-field col s6">
                <input type="hidden" name="type" value="work">
                <select name="podtype">
                    <option value="{{object.podtype}}">{{object.podtype}}</option>
                    <option value="Эскорт">Escort</option>
                    <option value="Администратор">Администратор</option>
                    <option value="Диспетчер">Диспетчер</option>
                    <option value="Водитель">Водитель</option>
                </select>
                <span class="helper-text" data-error="Предлагаемая сфера" data-success="right">Выбрать сферу</span>
            </div>
            <div class="input-field col s6">
                {{#if country}}
                    <select name="country" id="country">
                        <option value="{{object.country}}">{{object.country}}</option>
                        {{#each country}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                {{/if}}
            </div>
            <div class="input-field col s12">
                <input id="city" type="text" name="city" class="validate"
                       placeholder="Указать город" value="{{object.city}}">
                <label for="city">Город</label>
            </div>
            <div class="input-field col s12">
                <textarea id="textarea1" name="description[]" required minlength="150"
                          class="materialize-textarea">{{object.description.[0]}}</textarea>
                <label for="textarea1">Описание</label>
                <span class="helper-text" data-error="Заполните не менее 150 символов" data-success="right">Условия работы</span>
                <br>
            </div>
            <div class="input-field col s12">
                <input id="grafik" type="text" name="description[]" class="validate"
                       placeholder="Например: График два через два или пн-пт" value="{{object.description.[1]}}">
                <label for="grafik">График работы (дни рабочие/выходные)</label>
            </div>


            <div class="input-field col s12">
                <input id="hour" type="text" name="description[]" class="validate"
                       placeholder="Например С 9 до 20 рабочие часы" value="{{object.description.[2]}}">
                <label for="hour">График работы (В часах)</label>
            </div>
            <div class="input-field col s12">
                <input id="price" type="text" name="description[]" value="{{object.description.[3]}}" class="validate" placeholder="З/П от 50 до 100">
                <label for="price">Ожидаемая з/п</label>
            </div>

        </div>
        <div id="block2" class="col s12">
            <div id="block2" class="col s12">
                <h6>Главное фото</h6>
                <div class="img--block--lk" id="photoBlock">
                    {{#if object.photo}}
                        {{#each object.photo}}
                            {{#if this}}
                                <div class="block--photo">
                                    <img class="img--lk" src="https://zodaikapp.s3.us-east-2.amazonaws.com/img/{{this}}"
                                         alt="">
                                    <label for="{{this}}" data-remove="removeImg">Удалить</label>
                                    <input name="photo[]" type="hidden" id="{{this}}" value="{{this}}" required>
                                    <label for="{{this}}" data-mainThingPhoto="{{this}}">Сделать главным</label>
                                </div>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </div>
                <div class="file-field input-field">
                    <div class="btn">

                        <label for="photo">Добавить фото</label>
                        <input type="file" name="photo[]" multiple id="photo">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>

            </div>
        <div class="input-field col s7">
            <input id="telephone" type="tel" class="validate validateMain" name="phone[]" required
                   pattern="[\D0-9]{5,15}" value="{{object.phone.[0]}}">
            <label for="telephone"><i class="fas fa-phone"></i>Телефон</label>
            <span class="helper-text" data-error="Укажите номер телефона + и цифры" data-success="OK">Укажите номер телефона (обязательно)</span>
        </div>
        <div class="input-field col s7">

            <input id="whatsapp" type="text" value="{{object.phone.[1]}}" name="phone[]" class="validate" pattern="[0-9]{5,15}">
            <label for="whatsapp"><i class="fab fa-whatsapp"></i>WhatsApp</label>
            <span class="helper-text" data-error="Международный формат" data-success="OK">Международный формат</span>
        </div>
        <div class="input-field col s7">

            <input id="Viber" type="text" name="phone[]" value="{{object.phone.[2]}}" class="validate" pattern="[0-9]{5,15}">
            <label for="Viber"><i class="fab fa-viber"></i>Viber</label>
            <span class="helper-text" data-error="Международный формат" data-success="OK">Международный формат</span>
        </div>
        <div class="input-field col s7">

            <input id="telegram" type="text" name="phone[]" value="{{object.phone.[3]}}" maxlength="30">
            <label for="telegram"><i class="fab fa-telegram"></i>Telegram</label>
            <span class="helper-text" data-error="Укажите ссылку" data-success="OK">Указывайте ник пользователя без @ по номеру
                 работать не будет</span>

        </div>
        <div class="input-field col s7">
            <button type="submit" class="btn" id="btn-lk">Редактировать</button>
        </div>

    </form>
</div>