<div class="parallax-container">
    <div class="parallax"><img id="imgParallax" src="https://zodaikapp.s3.us-east-2.amazonaws.com/039f86b23af7.jpg">
    </div>
    <h1>ESCORT</h1>
    <div class="fil-btn">
        <ul id="dropdown2" class="dropdown-content">
            <li><a href="/sort/asc">Дорогие</a></li>
            <li><a href="/sort/desc">Дешевые</a></li>
            <li><a href="/sort/very">Проверенные</a></li>
            <li><a href="/sort/reiting">Высокий рейтинг</a></li>
        </ul>
        <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Фильтры<i class="material-icons right">arrow_drop_down</i></a>
    </div>
</div>
</br>
<h4 class="zag">
    <hr>
    {{title}}
    <hr>
</h4>
{{#if error}}
    <p id="err" data-error="{{error}}"></p>
{{/if}}
{{#if objects.length}}
    <div class="contObj">
        {{#each objects}}
            <div class="card es objectInd hoverable">

                <a href="/id/{{id}}">
                    <div class="card-image es">
                        <img src="https://zodaikapp.s3.us-east-2.amazonaws.com/{{photo.[0]}}" alt="Escort Ukraine">
                        <div class="card-title">
                            <span>{{city}}</span><br>
                        <span>{{name}}
                            {{#if veryfication}}
                                <i class="fas fa-check-circle"></i></span>
                            {{/if}}<br>
                            <span data-balance="{{price.[0]}}"></span><br>
                            <div data-appraisal="{{appraisal}}"></div>
                        </div>
                    </div>
                </a>
            </div>


        {{/each}}
    </div>

    {{#if page}}
        <ul class="pagination">
            <li id="prevLi"><a href="" id="prev"><i class="material-icons">chevron_left</i></a></li>
            {{#each page}}
                <li><a href="/page/{{this}}" data-path="/page/{{this}}">{{this}}</a></li>
            {{/each}}
            <li class="waves-effect"><a href="" id="next"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    {{/if}}
    {{else}}
             <h5 class="pagination">Оъявлений нет
             <a href="/escort" class="btn-floating waves-effect waves-light blue-grey lighten-3"> <i
                class="large material-icons">arrow_back</i>
            <</a></h5>
    {{/if}}
<script>
    let imgParallax = document.getElementById('imgParallax')

    console.log(window.matchMedia(`(min-width: 600px)`).matches)
    if(window.matchMedia(`(min-width: 600px)`).matches){
        imgParallax.setAttribute('src','https://progorodsamara.ru/userfiles/picoriginal/img-20170118103115-872.jpg')
    }

</script>