<div class="parallax-container">
    <div class="parallax"><img style="height: 260px;
    object-fit: cover;"
                               src="images/bb2e0c216294550963fc8163eccdc23c.jpg">
        <!--        https://cdn.pixabay.com/photo/2020/03/27/15/45/the-act-of-4973997_1280.jpg-->
        <!--       https://cdn.pixabay.com/photo/2016/03/15/17/17/girl-1258739_1280.jpg -->
        <!--        https://cdn.pixabay.com/photo/2020/03/18/03/49/nude-4942551_1280.jpg-->
    </div>
    <h1>ESCORT <br>{{cityes.nameEn}}</h1>
    <div class="fil-btn">
        <ul id="dropdown2" class="dropdown-content">
            {{#if cityes}}
                <li><a href="/city/{{cityes.nameEn}}/sort/asc">Дорогие</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/desc">Дешевые</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/very">Проверенные</a></li>
                <li><a href="/city/{{cityes.nameEn}}/sort/reiting">Высокий рейтинг</a></li>
            {{else}}
                <li><a href="/sort/asc">Дорогие</a></li>
                <li><a href="/sort/desc">Дешевые</a></li>
                <li><a href="/sort/very">Проверенные</a></li>
                <li><a href="/sort/reiting">Высокий рейтинг</a></li>
            {{/if}}
        </ul>
        <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Фильтры<i class="material-icons right">arrow_drop_down</i></a>
    </div>
</div>
</br>

<h5 class="zag">
    <hr>
    {{title}}
    <hr>
</h5>
{{#if error}}
    <p id="err" data-error="{{error}}"></p>
{{/if}}
{{#if objects.length}}
    <div class="contObj">
        {{#each objects}}
            <div class="card es objectInd hoverable">
                <a href="/id/{{this._id}}">
                    <div class="card-image es">
                        <img src="https://zodaikapp.s3.us-east-2.amazonaws.com/img/{{photo.[0]}}" alt="Escort Ukraine">
                        <div class="card-title">
                            <span>{{city}}</span><br>
                        <span>{{name}}
                            {{#if veryfication}}
                                <i class="fas fa-check-circle"></i></span>
                            {{/if}}<br>
                            <span data-balance="{{price.[0]}}"></span><br>
                            <div data-appraisal="{{appraisal}}"></div>
                        </div>
                    </div>
                </a>
            </div>
        {{/each}}
    </div>
    {{else}}
    <h5 class="pagination">Оъявлений нет
        <a href="/escort" class="btn-floating waves-effect waves-light blue-grey lighten-3"> <i
                class="large material-icons">arrow_back</i>
            <</a></h5>
{{/if}}
{{#if cityes}}
    <ul class="pagination">
        <li id="prevLi"><a href="" id="prev"><i class="material-icons">chevron_left</i></a></li>
        {{#each page}}
            <li><a href="/city/{{@root.cityes.nameEn}}/sort/{{@root.filter}}/page/{{this}}"
                   data-path="/city/{{@root.cityes.nameEn}}/sort/{{@root.filter}}/page/{{this}}">{{this}}</a></li>
        {{/each}}
        <li class="waves-effect"><a href="" id="next"><i class="material-icons">chevron_right</i></a></li>
    </ul>
{{else}}
    {{#if page}}
        <ul class="pagination">
            <li id="prevLi"><a href="" id="prev"><i class="material-icons">chevron_left</i></a></li>
            {{#each page}}
                <li><a href="/sort/{{@root.filter}}/page/{{this}}"
                       data-path="/sort/{{@root.filter}}/page/{{this}}">{{this}}</a></li>
            {{/each}}
            <li class="waves-effect"><a href="" id="next"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    {{/if}}
{{/if}}


